body {
  background-color: #232323;
  margin: 0;
  font-family: "helvetica";
}

h1, h2 {
  color: white;
  text-align: center;
  text-transform: uppercase;
  font-weight: normal;
  margin: 0;
  line-height: 1;
  padding: 20px 0;
}

#container {
  margin: 0 auto;
  max-width: 600px;
}

#menu {
  background-color: white;
  height: 30px;
  text-align: center;
  color: black;
}

.selected {
  background-color: #232323;
  color: white;
}
.square {
  width: 30%;
  background-color: blue;
  padding-bottom: 30%;
  float: left;
  margin: 1.66%;
}

#colourDisplay {
  font-size: 200%;
}

#messageDisplay {
  display: inline-block;
  width: 10%;
}

button {
  border: none;
  background: none;
  height: 100%;
  text-transform: uppercase;
  color: #232323;
  font-weight: 700;
  font-size: inherit;
  letter-spacing: 2px;
}